 <div class="box">
 {{#each timelines}}
  <div class="central">
    <div class="margin">

    <div class="dateTime">
      <p class="num1">{{date}}</p>
      <p class="num2">{{times}}</p>
    </div>
    <div class="image">
      <div class="outercircle">
        <div class="bordercircle">
          <i class="fa {{icon}}"></i>
        </div>
      </div>
    </div>

   </div>
   <div class="body">
     <div class="headline">
      <div class="pyramid"></div>
       <h4>{{headline}}</h4>
    </div>
    <div class="content">
       <p>{{content}}</p>
    </div>
   </div>
  </div>
  {{/each}}
  </div>
